@import '../../variables';

.home-wrapper {
    @include maxWidthAndCenter();
}

.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.photo {
    width:100%;
    max-width: 834px;
}

.text-wrapper {
    width: 100%;
    padding-top: 20px;
    & > * {
        margin: 0;
        padding: 0;
        padding-left: $leftSideMargin;
        padding-right: $rightMargin;
    }
}

h3 {
    font-weight: 100
}

.greeting {
    margin-top: 20px;
    margin-bottom: 25px;
}

.important {
    color: $activeAndImportantColor;
}

.about {
    width: 63%;
    font-weight: 100;
    line-height: 30px;
}

.hobby-wrapper {
    width: 100%;
    max-width: 834px;
}

.hobby {
    width: 100%;
}

.hobby-image-wrapper {
    width: 35%;
    display: flex;
    justify-content: center;
}

.hobby-image {
    width:100%;
}