@import '../../variables';

.home-wrapper {
    max-width: 924px;
    display: block;
    margin: 0 auto;
    background-color: green;
}

.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.photo {
    width:100%;
    max-width: 800px;
}

.text-wrapper {
    width: 100%;
    padding-top: 20px;
    & > * {
        margin: 0;
        padding: 0;
        padding-left: $leftSideBlankLength;
        padding-right: $rightSideBlankLength;
    }
}