
$backgroundMainColor: white;
$fontMainColor: black;
$backgroundHeaderColor: #FAFAFA;
$activeAndImportantColor: #0068E2;

$leftSideMargin: 45px;
$rightSideMargin: 45px;

@mixin maxWidthAndCenter{
    max-width: 924px;
    display: block;
    margin: 0 auto;
}