@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

@import './variables';

* {
  color: $fontMainColor;
  font-family: 'Roboto Slab', serif;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  background-color: $backgroundMainColor;
  height: 100%;
  width: 100vw;
}

.App {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 16px;
  background-color: $backgroundHeaderColor;
}

.content {
  background-color: yellow;
}

.footer {
  background-color: grey;
}