.wrapper {
  display: flex;
  justify-content: center;
}

.App {
  background-color: #2d86cf;
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
}

.Nav {
  width: 100%;
  height: 10vh;
  background-color: red;
}

.ActiveComponent {
  background-color: yellow;
}